doctype html
html
  head
    meta(charset='UTF-8')
    title Hello Fans!
    link(rel='stylesheet', href='css/styles.css')

  body.container(ng-app='app')
    .col-sm-12.text-center
      h1 Hello, Fans!
    .col-sm-12.text-center
      p Welcome to a collection of information available throughout free REST Apis and about 
    ui-view.col-sm-12
      a(ui-sref='list') See a list of something
    script(src='js/libs.js')
    script(src='js/app.js')
